<div class="container">
  <div class="row">
    <div class="col-md-8 well">
      <button type="button" class="btn btn-default" ng-click="newGame()">New Game</button>

      <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th>Team 1</th>
          <th>Team 2</th>
          <th>Winner</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="game in games">
          <th scope="row"><a href="#game/{{game.id}}">{{game.id}}</a></th>
          <td> {{ game.team1 }}</td>
          <td> {{ game.team2 }}</td>
          <td> {{ game.winning_team }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>